<div id="<%= dom_id transaction %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Transaction date:</strong>
    <%= transaction.transaction_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= transaction.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= transaction.amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Currency:</strong>
    <%= transaction.currency %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Direction:</strong>
    <%= transaction.direction %>
  </p>

</div>
