<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Transactions" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Transactions</h1>
    <%= link_to "New transaction", new_transaction_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="transactions" class="min-w-full">
    <table class="min-w-full bg-white">
      <thead>
        <tr>
          <th class="py-2 px-4 border-b">Id</th>
          <th class="py-2 px-4 border-b">Transaction Date</th>
          <th class="py-2 px-4 border-b">Description</th>
          <th class="py-2 px-4 border-b">Amount</th>
          <th class="py-2 px-4 border-b">Currency</th>
          <th class="py-2 px-4 border-b">Direction</th>
          <th class="py-2 px-4 border-b">Company logo</th>
          <th class="py-2 px-4 border-b">classifier_payload</th>
          <th class="py-2 px-4 border-b">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @transactions.each do |transaction| %>
          <tr id="<%= dom_id transaction %>">
            <td class="py-2 px-4 border-b"><%= transaction.id %></td>
            <td class="py-2 px-4 border-b"><%= transaction.transaction_date %></td>
            <td class="py-2 px-4 border-b"><%= transaction.description %></td>
            <td class="py-2 px-4 border-b"><%= transaction.amount %></td>
            <td class="py-2 px-4 border-b"><%= transaction.currency %></td>
            <td class="py-2 px-4 border-b"><%= transaction.direction %></td>
            <td class="py-2 px-4 border-b">
              <% if transaction.classifier_payload.present? %>
                <% payload = JSON.parse(transaction.classifier_payload) %>
                <% if payload['legal_entity'] && payload['legal_entity']['logo_url'] %>
                  <%= image_tag payload['legal_entity']['logo_url'], alt: 'Company Logo', class: 'h-10 w-10' %>
                <% end %>
              <% end %>
            </td>
            <td class="py-2 px-4 border-b"><%= transaction.classifier_payload %></td>
            <td class="py-2 px-4 border-b">
              <%= link_to "Show", transaction, class: "ml-2 rounded-lg py-1 px-3 bg-gray-100 inline-block font-medium" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
